body {
  margin: 0;
  background-color: #EBEBEB;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}
main {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  justify-content: center;
}
@media screen and (min-width: 990px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.img {
  width: 90%;
  height: 60vh;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.hdnicewallpapers.com%2FWalls%2FBig%2FNature%2520and%2520Landscape%2FBeautiful_Sunrising_Nature_Image.jpg&f=1&nofb=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 40px;
}
@media screen and (min-width: 990px) {
  .img {
    width: 45%;
    margin: 0;
  }
}
#buttonContainer {
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: #ffe5e2;
}
@media screen and (min-width: 990px) {
  #buttonContainer {
    font-size: 14px;
  }
}
#buttonContainer > div {
  width: 100%;
}
#buttonContainer > div button {
  width: 100%;
  height: 50px;
  font-size: large;
  background-color: #b6c9f0;
  border: none;
}
#buttonContainer > div button:hover {
  background-color: #e9496e;
  color: white;
  cursor: pointer;
}
#buttonContainer > div button:active {
  background-color: #ffe5e2;
  color: black;
}
#buttonContainer #step1Button,
#buttonContainer #step1Button.active {
  background-color: #b6c9f0;
  border: none;
  width: 100%;
  height: 50px;
  font-size: large;
}
#buttonContainer #step1Button:hover,
#buttonContainer #step1Button.active:hover {
  background-color: #e9496e;
  color: white;
  cursor: pointer;
}
#buttonContainer #step1Button:active,
#buttonContainer #step1Button.active:active {
  background-color: #ffe5e2;
  color: black;
}
#buttonContainer #step2Button,
#buttonContainer #step3Button {
  background-color: #b6c9f0;
  border: none;
  width: 100%;
  height: 50px;
  font-size: large;
}
#buttonContainer #step2Button:hover,
#buttonContainer #step3Button:hover {
  background-color: #e9496e;
  color: white;
  cursor: pointer;
}
#buttonContainer #step2Button:active,
#buttonContainer #step3Button:active {
  background-color: #ffe5e2;
  color: black;
}
.bar {
  width: 90%;
  border-radius: 10px;
  background-color: #ffe5e2;
  position: relative;
}
@media screen and (min-width: 990px) {
  .bar {
    height: 60vh;
    font-size: 14px;
  }
}
@media screen and (min-width: 990px) {
  .bar {
    width: 45%;
  }
}
.step {
  display: flex;
  background-color: #ffe5e2;
  width: 90%;
}
.step h2 {
  padding-left: 20px;
}
.step p {
  padding: 20px;
}
.container {
  width: 500px;
  z-index: 100;
  top: 0;
  left: 0;
}
.container .menu_options a {
  text-decoration: none;
  color: gray;
  font-size: 30px;
  margin-left: 20px;
  width: 100%;
}
.container .menu_options div {
  padding-top: 16px;
}
.container .menu_options div:hover {
  background-color: #fdb1c5;
  cursor: pointer;
}
.container .menu_options div:hover a {
  margin-left: 28px;
}
